<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Pages>5</Pages>
  <TotalTime>2</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <Application>WPS Office_6.7.1.8828_F1E327BC-269C-435d-A152-05C5408002CA</Application>
</Properties>
